* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  background-color: #F5F5F5;
  width: 100%;
}
.box {
  width: 100%;
}
.box header {
  width: 100%;
  height: 0.5rem;
  overflow: hidden;
  background-color: #ff8a00;
  text-align: center;
  display: flex;
}
.box header a {
  display: block;
}
.box header a:nth-child(1) {
  width: 1.3rem;
  height: 0.4rem;
  background: url(练习1：找房无忧/素材/image/index/logo.jpg) no-repeat 0.1rem 0.08rem;
  background-size: 1rem 0.35rem;
}
.box header a:nth-child(2) {
  margin-left: 1.8rem;
  width: 0.4rem;
  height: 0.4rem;
  background: url(练习1：找房无忧/素材/image/index/my.jpg) no-repeat 0 0.05rem;
  background-size: 0.3rem 0.35rem;
}
.box header a:nth-child(3) {
  margin-left: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
  background: url(练习1：找房无忧/素材/image/index/xiazai.jpg) no-repeat 0 0.05rem;
  background-size: 0.3rem 0.35rem;
}
.box .int {
  margin: 0.1rem;
  width: 3.5rem;
  font-size: 0.2rem;
  border: 1px solid #cccccc;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: white;
}
.box .int input {
  padding-left: 0.1rem;
  border: none;
  outline: none;
}
.box .int span {
  float: right;
  padding-right: 0.5rem;
  background: url(练习1：找房无忧/素材/image/SecondHandList/search_03.png) no-repeat 0.1rem 0.1rem;
  background-size: 0.2rem 0.2rem;
}
.box nav {
  width: 100%;
  background-color: white;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.box nav > ul {
  display: flex;
  justify-content: space-around;
  font-size: 0.2rem;
  line-height: 0.4rem;
}
.box nav > ul li a {
  text-decoration: none;
  color: #676666;
  font-weight: bold;
}
.box nav > ul li a span {
  display: inline-block;
  border: 0.05rem solid;
  border-color: #cccccc transparent transparent;
}
.box nav .li-box {
  width: 100%;
  overflow: hidden;
}
.box nav .li-box .li-top {
  float: left;
  width: 20%;
  text-align: center;
}
.box nav .li-box .li-top .qu {
  font-size: 0.2rem;
}
.box nav .li-box .li-top .tie {
  font-size: 0.2rem;
}
.box nav .li-box .qu-ul {
  font-size: 0.18rem;
  float: left;
  width: 80%;
  overflow: hidden;
}
.box nav .li-box .qu-ul li {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.box nav .li-box .qu-ul li a {
  text-decoration: none;
  text-align: center;
  font-size: 0.16rem;
  display: block;
  color: #ccc;
  line-height: 0.5rem;
}
.box nav .price {
  width: 100%;
  background-color: white;
}
.box nav .price .pri {
  font-size: 0.16rem;
  color: #cccccc;
}
.box nav .price .pri li {
  margin: 0 0.3rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.box nav .price .pri li:last-child {
  border: none;
}
.box nav .house-xi {
  width: 100%;
  background-color: #ffffff;
}
.box nav .house-xi ul li {
  margin: 0 0.2rem;
  display: flex;
  justify-content: space-between;
  line-height: 0.4rem;
  font-size: 0.14rem;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.box nav .house-xi ul li:last-child {
  border: none;
}
.box nav .house-xi button {
  display: block;
  margin: 0.2rem;
  width: 87%;
  background-color: #ff8a00;
  color: white;
  border: none;
  line-height: 0.4rem;
  text-align: center;
}
.box nav .geng-list {
  width: 100%;
  background-color: white;
}
.box nav .geng-list .geng-area {
  margin-top: 0.1rem;
  margin-left: 0.22rem;
  border-bottom: 1px solid #ccc;
}
.box nav .geng-list .geng-area h4 {
  line-height: 0.4rem;
  font-size: 0.16rem;
}
.box nav .geng-list .geng-area ul {
  overflow: hidden;
}
.box nav .geng-list .geng-area ul li {
  font-size: 0.14rem;
  text-align: center;
  border: 1px solid #ccc;
  line-height: 0.25rem;
  float: left;
  width: 0.7rem;
  margin-bottom: 0.1rem;
  margin-right: 0.1rem;
}
.box main {
  width: 100%;
}
.box main ul li {
  border-bottom: 1px solid #ff8a00;
  display: flex;
  margin: 0.2rem;
  padding-bottom: 0.2rem;
}
.box main ul li:last-child {
  border: none;
}
.box main ul li .img {
  width: 1rem;
  height: 1rem;
  background: url(练习1：找房无忧/素材/image/SecondHandList/img1.png) no-repeat;
  background-size: 1rem 1rem;
}
.box main ul li .img1 {
  width: 1rem;
  height: 1rem;
  background: url(练习1：找房无忧/素材/image/SecondHandList/img2.png) no-repeat;
  background-size: 1rem 1rem;
}
.box main ul li .img2 {
  width: 1rem;
  height: 1rem;
  background: url(练习1：找房无忧/素材/image/SecondHandList/img3.png) no-repeat;
  background-size: 1rem 1rem;
}
.box main ul li .text {
  margin-left: 0.1rem;
}
.box main ul li .text p {
  font-size: 0.16rem;
  line-height: 0.25rem;
}
.box main ul li .text p:nth-child(1) {
  font-weight: bold;
  padding-bottom: 0.1rem;
}
.box main ul li .text p:nth-child(2) {
  font-size: 0.16rem;
}
.box main ul li .text p:nth-child(3) {
  font-size: 0.14rem;
  color: #cccccc;
}
.box main ul li .text p:nth-child(3) span {
  color: #ff8a00;
}
.box main ul li .text p:nth-child(4) {
  font-size: 0.14rem;
  color: #cccccc;
}
.box footer {
  background-color: #2f3130;
  position: absolute;
  width: 100%;
  font-size: 0.17rem;
  color: #7B7D7C;
}
.box footer .top-text {
  margin: 0 0.2rem;
  padding: 0.15rem 0;
  border-bottom: 1px solid #cccccc;
}
.box footer .bottom-box {
  margin-top: 0.2rem;
  font-size: 0.15rem;
}
.box footer .bottom-box .icon {
  display: flex;
}
.box footer .bottom-box .icon .left {
  box-sizing: border-box;
  padding-left: 1rem;
  width: 50%;
  background: url(练习1：找房无忧/素材/image/index/apple.png) 0.6rem 0 no-repeat;
  background-size: 0.3rem 0.35rem;
}
.box footer .bottom-box .icon .right {
  box-sizing: border-box;
  padding-left: 0.35rem;
  width: 50%;
  background: url(练习1：找房无忧/素材/image/index/android.png) no-repeat;
  background-size: 0.3rem 0.35rem;
}
.box footer .bottom-box .txt {
  padding-top: 0.1rem;
  text-align: center;
  line-height: 0.3rem;
}
.box footer .bottom-box .ico {
  font-size: 0.12rem;
  line-height: 0.2rem;
  text-align: center;
  padding-bottom: 0.1rem;
}
